.post-author-info p {
    margin-bottom: 0.5em;
}

div .highlight {
    color: #000;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 14px;
    overflow: auto;
}

div .highlight, pre {
    background: #f5f2f0;
}

div .highlight, pre, span {
    white-space: pre;
}

.article-cover {
  width: 100%;
  height: 30%;
  min-height: 300px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.article-cover-container {
  text-align: center;
  padding: 0 15px;
  position: absolute;
  bottom: 0;
  /* padding: 50px 10% 10%; */
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
