{% extends "index.html" %}

{% set author_page = authors_info.get(author) %}

{% block featured %}
  <section>
    <h1>{{ author }}</h1>

    <ul class="post-meta-list">
      {% if author_page.cv %}
        <li class="post-meta-item">
          <a href="{{ SITEURL }}/static/cv/{{ author_page.cv }}">
            CV
          </a>
        </li>
      {% endif %}

      {% if author_page %}
        {% for s, link in author_page.metadata.items() %}
          {% if s.startswith('service__') %}
            {% set service = s[9:] %}
            <li class="post-meta-item">
              <a href="{{ link }}"><i class="fa fa-{{ service }}"></i></a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    {{ author_page.content }}

    <hr>
  </section>

{% endblock %}
