<footer class="footer" role="contentinfo">
  <small>
    <p>
      {{ SITENAME }} | {{ SITESUBTITLE }} |
      {% if GITHUB_URL %}
        <a href="{{ GITHUB_URL }}/graphs/contributors"> {{ AUTHOR }}
      {% else %}
        {{ AUTHOR }}
      {% endif %}
    </p>
    <p>
      <a href="https://github.com/qmcs/pelicanium">Pelicanium</a>, a theme based on
      <a href="http://ghostium.oswaldoacauan.com/">Ghostium Theme</a>.
      Proudly powered by  <a href="http://getpelican.com/">Pelican</a>.
    </p>
  </small>
</footer>
