{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}

  <header class="post-header">
    <h1 itemprop="name headline" class="post-title">
      <a href="{{SITEURL}}/{{ page.url }}" itemprop="url" data-pjax title="{{ page.title}}">{{ page.title }}</a>
    </h1>
    {#{! A subtitle not available in Ghosts yet }#}
    <!--h2 itemprop="about" class="post-subtitle"></h2-->
  </header>

  <div itemprop="articleBody" class="post-body">
    {{ page.content }}
  </div>

  {% include 'disqus.html' %}

{% endblock %}
